{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="home-controller">
        <div class="gi-container">
            <div class="banner">
            </div>
            <div class="news">
                <div class="title-header">
                    <h3>News</h3>
                    <div class="blue-bar"></div>
                </div>

            </div>
            <div class="charactersNwp">
                <div class="title-header">
                    <h3>Personnages & Armes</h3>
                    <div class="blue-bar"></div>
                    <div class="blue-bar-second"></div>
                </div>
            </div>
            <div class="other">

            </div>
        </div>
    </div>

{% endblock %}
