{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('character') }}
{% endblock %}

{% block title %}Personnages{% endblock %}

{% block body %}

    <div class="character-controller">
        <div class="gi-container">
            <div class="banner"></div>

            <div class="character-container">
                {% for character in characters %}
                    <div class="character-card">
                        {{ character.name }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
