{% extends 'base.html.twig' %}

{% block title %}{{ character.name }}{% endblock %}

{% block body %}
    <div class="character-profile">
        <div class="section-community-build"  id="community-build">
            <div class="title-header">
                <h3>Community Build</h3>
                <div class="blue-bar"></div>
            </div>
            <ul>
                {% for characterBuild in charactersBuild %}

                    <li>
                        {{ characterBuild[0].creationdate|date("m/d/Y") }}
                        {{ characterBuild[1].name }}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}
