{% extends 'base.html.twig' %}

{% block title %}{{ character.name }}{% endblock %}

{% block body %}
    <div class="character-profile">
        <ul>
            {% for characterBuild in charactersBuild %}

                <li>
                    {{ characterBuild[0].creationdate|date("m/d/Y") }}
                    {{ characterBuild[1].name }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
