{% extends 'base.html.twig' %}

{% block title %}{{ character.name }}{% endblock %}

{% block body %}
    <div class="character-profile">
        {% for characterBuild in charactersBuild %}
        <ul>
            <li>{{ characterBuild.name }}</li>
        </ul>
        {% endfor %}
    </div>

{% endblock %}
