@charset "UTF-8";

@import "global";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*********************[APP CSS]***************************/
body {
  margin: 0;
  padding: 0;
  background-color: $giwiki-grey;

  .nav ul {
    list-style-type: none;
    padding: 0;
    width: 165px;
    margin: 0 auto;

    a {
      text-decoration: none;
      color:$giwiki-white;
    }

    li {
      position: relative;
      background-color: $giwiki-dark-blue;
      margin-top: 1rem;
      color: $giwiki-white;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      border-radius: 50px;
      text-align: center;
      padding: 15px 30px;
      font-size: 16px;
      cursor: pointer;

      .menu-button {
        display: block;

      }

      .menu-logo {
        display: none;
      }
    }

    li:hover {
      border:5px solid $giwiki-orange;
      padding: 10px 25px
    }

    li:last-of-type {
      background-color: $giwiki-orange;
    }
  }
  .copyright-header {
    position:absolute;
    bottom:0;
    margin-bottom: 50px;
    left:30px;
  }
}
@media screen and (max-width: 767px) {
  body {
    .gi-container {
      margin: 0 20px;
    }

    .copyright-header {
      display: none;
    }

    .logo {
      position: fixed;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }

    .page {
      margin: 0;
      width: 100%;
    }

    .menu {
      top: inherit;
      bottom: 0;
      width: 100%;
      position: fixed;
      height: 50px;
      background-color: $giwiki-white;
    }

    .nav ul {
      display: inherit;
      width: 100%;

      li {
        margin: 0;
        justify-content: space-between;
        border-radius: inherit;
        float: left;
        text-align: center;
        width: 20%;
        padding:0;
        height: 50px;

        .menu-button {
          display: none;
        }

        .menu-logo {
          display: block;
        }
      }
    }

    .nav ul::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    .gi-container {
      margin: 0 50px;
    }

    .copyright-header {
      display: block;
    }

    .menu {
      top: 0;
      width: 225px;
      position: fixed;
      height: 100vh;
      background-color: $giwiki-white;
      box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.125);
    }

    .page {
      position: relative;
      right: 0;
      margin-left: 225px;
      width: calc(100% - 225px);
    }
  }
}

@media screen and (max-width: 1199px) {
  body {
  }
}

@media screen and (min-width: 1200px) {
  body {
    .gi-container {
      margin: 0 150px;
    }
  }
}
