<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gudako.club sera bientôt disponible !</title>
    <meta name="description"
          content="Dans un futur proche, Gudako.club arrivera avec plusieurs fonctionnalités tel que partager sa box Genshin, créer et partager ses builds et un même avoir accès à un wiki.">
    <!-- Meta Description -->
    <link rel="shortcut icon"
          href="https://cdn.discordapp.com/attachments/436849356847710220/850417721564463114/BROo.PNG"
          type="image/x-icon">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gudako.club/">
    <meta property="og:title" content="Gudako.club - Partage tes builds Genshin Impact">
    <meta property="og:description"
          content="Dans un futur proche, Gudako.club arrivera avec plusieurs fonctionnalités tel que partager sa box Genshin, créer et partager ses builds et un même avoir accès à un wiki.">
    <meta property="og:image"
          content="https://cdn.discordapp.com/attachments/436849356847710220/850419156583317504/bro.PNG">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://gudako.club/">
    <meta property="twitter:title" content="Gudako.club - Partage tes builds Genshin Impact">
    <meta property="twitter:description"
          content="Dans un futur proche, Gudako.club arrivera avec plusieurs fonctionnalités tel que partager sa box Genshin, créer et partager ses builds et un même avoir accès à un wiki.">
    <meta property="twitter:image"
          content="https://cdn.discordapp.com/attachments/436849356847710220/850419156583317504/bro.PNG">
</head>

<body>
<p>Gudako impact arrive bientôt!</p>
</body>


</html>
