<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap-grid.min.css">
    {% block stylesheets %}
        {# encore css #}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {# encore js #}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body>
<div class="menu">
    <header>
        <div class="logo">
            <img src="" alt="">
        </div>
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ path('home') }}">
                        <div class="menu-button">
                            Accueil
                        </div>
                    </a>
                    <div class="menu-logo">

                    </div>
                </li>
                <li>
                    <div class="menu-button">
                        News
                    </div>
                    <div class="menu-logo">
                        a
                    </div>
                </li>
                <li>
                    <div class="menu-button">
                        Personnages
                    </div>
                    <div class="menu-logo">
                        P
                    </div>
                </li>
                <li>
                    <div class="menu-button">
                        Armes
                    </div>
                    <div class="menu-logo">Ar
                    </div>
                </li>
                <li>
                    <div class="menu-button">
                        Connexion
                    </div>
                    <div class="menu-logo">
                        C
                    </div>
                </li>
            </ul>
        </div>
    </header>
</div>
<div class="page">
    {% block body %}{% endblock %}
    <footer>
        <div class="copyright">
            © gudako.club
        </div>
    </footer>
</div>


</body>
</html>
