@import '../global';
/* TODO: mettre le character menu en position sticky à la version pc*/
.character-controller {
  .banner {
    width: 100%;
    height: 200px;
    background-color: $giwiki-light-blue;
    border-radius: 20px;
    margin: 50px auto;
  }

  .character-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    a {
      text-decoration: none;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 12.5%;
      padding: 10px;
    }

    .character-card {
      width: 71px;
      height: 71px;

      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;
      }

      .character-name {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: $giwiki-dark-blue;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }

    }


  }
}

@media screen and (max-width: 767px) {
  .character-controller {
    .banner {
      margin: 20px auto;
    }

    .character-container {
      a {
        width: 33.333%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .character-controller {
    .character-container {
      a {
        width: 20%;
      }
    }
  }
}

@media screen and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
  .character-controller {
    .character-container {
      a {
        width: 12.5%;
      }
    }
  }
}


/********************************************[Character profile css]********************************************/


.character-profile {
  margin: 50px 0;
  padding-bottom: 100px;

  .community-build-create-mobile {
    display:none;
  }

  .community-build-create {
    z-index: 5;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    color: $giwiki-orange;
    font-weight: 600;
    font-size: 25px;
    border: 3px solid $giwiki-orange;
    padding: 10px 20px;
  }

  .community-build-create:hover {
    color: $giwiki-white;
    background-color: $giwiki-orange;
  }

  .banner {
    width: 100%;
    height: 300px;
    background-color: $giwiki-light-blue;
    border-radius: 20px;
  }

  .character-menu {
    width: 100%;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    a {
      text-decoration: none;
    }

    .overview, .skills, .passives,
    .build, .community-build,
    .showcase {
      padding: 10px 15px;
      width: 100%;
      background-color: $giwiki-dark-blue;
      color: white;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
    }

    .overview:hover, .skills:hover, .passives:hover,
    .build:hover, .community-build:hover,
    .showcase:hover {
      border: 5px solid $giwiki-orange;
      padding: 5px 10px;
    }
  }

  .section-community-build, .section-recommended-build {

    .community-build-box {
      background-color: white;
      border-radius: 20px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 300px;
      padding: 20px;
      position: relative;

      ul {
        list-style-type: none;
        padding: 0;
      }

      .community-build-details {
        position: absolute;
        bottom: 20px;
        right: 20px;
        text-decoration: none;
        color: $giwiki-orange;
        font-weight: 600;
        font-size: 20px;
      }
    }

    .title-header {
      margin-bottom: 2em;
      position: relative;

      h3 {
        padding: 0 20px;
        color: $giwiki-dark-blue;
        font-family: 'Poppins', sans-serif;
      }

      .blue-bar {
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 100%;
        height: 20px;
        border-radius: 50px;
        background-color: $giwiki-light-blue;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .character-profile {
    .community-build-create {
      display:none;
    }
    .community-build-create-mobile {
      margin:20px 0;
      text-decoration: none;
      color: $giwiki-white;
      font-weight: 600;
      font-size: 20px;
      background-color:  $giwiki-orange;
      padding: 10px 20px;
      display: block;
    }

    .section-community-build, .section-recommended-build {
      .title-header {
        h3 {
          font-size: 22px;
        }

        .blue-bar {
          height: 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .character-profile {
    .section-community-build, .section-recommended-build {

      .title-header {

        h3 {
          font-size: 38px;
        }

        .blue-bar {
          height: 25px;
        }
      }
    }
  }
}


@media screen and (max-width: 1199px) {
  .character-profile {
    .character-menu {
      display: list-item;
      list-style: none;

      .overview, .skills, .passives,
      .build, .community-build,
      .showcase {
        background-color: $giwiki-light-blue;
        border-radius: inherit;
        color: $giwiki-dark-blue;
      }

      .overview:hover, .skills:hover, .passives:hover,
      .build:hover, .community-build:hover,
      .showcase:hover {
        border: none;
        border-left: 5px solid $giwiki-orange;
        padding: 10px 20px 10px 15px;
        background-color: $giwiki-dark-blue;
        color: $giwiki-white;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .character-profile {
    .character-menu {
      width: 737px;
      margin: 2em auto;
    }

    .section-community-build, .section-recommended-build {
      .title-header {
        h3 {
          font-size: 48px;
        }
      }
    }

  }
}

/********************[Character new build form]************************/


.character-profile {

  .button-prev {
    text-decoration: none;
    color: $giwiki-orange;

    .button-return {
      text-decoration: none;
      color: $giwiki-orange;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .new-form {
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    margin: 50px auto;

    h1 {
      margin: 0 auto;
    }

    h2 {
      text-align: center;
    }

    form {
      margin: 0 auto 50px;
      font-family: 'Poppins', sans-serif;


      textarea {
        font-family: 'Montserrat', sans-serif;
        outline: none;
        resize: vertical;
        overflow: auto;
        width: 100%;
        border-style: none;
        border-bottom: 4px solid $giwiki-light-blue;
        padding: 10px;
        font-size: 18px;
      }

      textarea:focus {
        outline: none;
        background-color: $giwiki-grey;
        color: $giwiki-orange;
        border-bottom: 4px solid $giwiki-orange;
      }

      input {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin: 20px 0;
        width: 100%;
        padding: 10px 10px;
        border-style: none;
        border-bottom: 4px solid $giwiki-light-blue;
      }

      .tags-label {
        margin-top: 20px;
      }

      #form_tags {
        margin-top: 0;
      }

      #form_weapons {
        input[type=checkbox] {
          width: auto;
          margin: 20px;
        }

        label {
          position: relative;
          width: 450px;
        }
      }

      input[type=text]:focus {
        outline: none;
        background-color: $giwiki-grey;
        color: $giwiki-orange;
        border-bottom: 4px solid $giwiki-orange;
      }

      button {
        background-color: $giwiki-orange;
        border-radius: 10px;
        border: none;
        width: 100%;
        padding: 10px 15px;
        color: $giwiki-white;
        font-size: 18px;
      }


      ul {
        list-style-type: none;
        padding: 0;

        input[type="checkbox"] {
          display: none;
        }
      }

      li {
        display: inline-block;
      }

      //input[type="checkbox"][id^="cb"] {
      //  display: none;
      //}

      label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 10px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      label::before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
      }

      label img {
        height: auto;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
      }

      :checked + label {
        border-color: #ddd;
      }

      :checked + label::before {
        content: "✓";
        background-color: grey;
        transform: scale(1);
      }

      :checked + label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
      }


    }
  }
}

@media screen and (max-width: 767px) {

  .character-profile {
    margin-top: 20px;

    .button-prev {
      .button-return {
        font-size: 20px;
      }
    }

    .new-form {
      background-color: white;
      border-radius: 15px;
      padding: 15px;
      margin: 20px auto;
      width: 100%;

      .tags-label {
        font-size: 14px;
      }

      ul {
        label {
          margin: 0;
        }
      }

      h1 {
        margin: 0 auto;
        max-width: 350px;
        font-size: 20px;
      }

      form {
        max-width: 350px;
        margin: 0 auto 50px;
        font-family: 'Poppins', sans-serif;


        h1 {
          max-width: 80vw;
        }

        input {
          font-size: 14px;
        }

        .register-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .character-profile {
    .new-form {
      padding: 50px 0;

      h1 {
        max-width: 350px;
      }

      form {
        max-width: 350px;

        input {
          max-width: 350px;
        }
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .character-profile {
    .new-form {
      h1 {
        min-width: 500px;
      }

      form {
        max-width: 500px;

        input {
          max-width: 500px;
        }
      }
    }
  }
}

@media screen and (min-width: 1199px) {
  .character-profile {
    .new-form {
      padding: 50px;
    }

  }
}

