@import '../global';

/********************************************[User profile css]********************************************/
.active-filter {
  background-color: $giwiki-orange !important;
  color: $giwiki-white !important;
  border: none !important;
  padding: 5px 10px !important;
}

.active-character {
  border: 2px solid $giwiki-orange !important;
}

.user-builds-overall {
  .user-build-edit {
    text-decoration: none;
    background-color: $giwiki-dark-blue;
    padding: 5px 10px;
    border-radius: 5px;
    color: $giwiki-white;
    font-weight: 600;
  }

  .user-build-remove {
    background-color: #e81010;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
  }
}

.user-profile {
  margin: 20px 0;


  #uidProfile {
    position: relative;

    .filterDisplay {

      .element-filter {
        width: calc(100% - 100px);

        button {
          margin-bottom: 5px;
          border: none;
          outline: none;
          background-color: white;
          color: $giwiki-dark-blue;
          padding: 5px 10px;
        }
      }

      .gridFilter, .horizontalFilter {
        width: fit-content;
        position: absolute;
        color: $giwiki-dark-blue;
        background-color: $giwiki-white;
        padding: 10px;
        border-radius: 5px;

        svg {
          font-size: 25px;
        }
      }

      .gridFilter:hover, .horizontalFilter:hover {
        background-color: $giwiki-orange;
        color: $giwiki-white;
      }

      .filterActive {
        background-color: $giwiki-orange;
        color: $giwiki-white;
      }

      .horizontalFilter {
        right: 0;
      }

      .gridFilter {
        right: 50px;
      }
    }
  }

  .user-info {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    text-align: center;
    row-gap: 5px;
    column-gap: 5px;
    margin-bottom: 2em;

    .user-info-details {
      padding: 10px 20px;
      background-color: $giwiki-dark-blue;
      color: white;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .ajax-succes {
    border: 3px solid green;
    color: green;
    font-weight: bold;
  }

  .logout {
    display: none;
  }

  .banner {
    padding: 20px;
    width: 100%;
    height: 300px;
    background-color: $giwiki-light-blue;
    border-radius: 20px;

    .uid-display {
      form.is-readonly .btn-save, form.is-readonly .btn-cancel {
        display: none;
      }

      form.is-readonly input[disabled], form.is-readonly textarea[disabled] {
        cursor: text;
        background-color: #fff;
        border-color: transparent;
        outline-color: transparent;
        box-shadow: none;
      }

      form.is-editing .btn-edit {
        display: none;
      }

      #uid-form {
      }
    }
  }

  .builds {
    background-color: $giwiki-white;
    border-radius: 20px;
    padding: 20px 20px 40px 20px;
    width: 100%;
    position: relative;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 10px 0;
        font-weight: 500;
      }
    }

    .all-builds-detail {
      position: absolute;
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 14px;
      text-align: right;
      right: 20px;
    }
  }

  .section-user-builds {
    .title-header {
      margin-bottom: 2em;
      position: relative;

      h3 {
        padding: 0 20px;
        color: $giwiki-dark-blue;
        font-family: 'Poppins', sans-serif;
      }

      .blue-bar {
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 100%;
        height: 20px;
        border-radius: 50px;
        background-color: $giwiki-light-blue;
      }
    }

    #uid-modify-leave {
      display: none;
    }

    #uidProfile {
      //border: 1px solid $giwiki-light-blue;
      //border-radius: 20px;
      //padding: 20px;

      .uid-no-public {
        padding: 10px 20px;
        border: 4px solid $giwiki-orange;
        color: $giwiki-orange;
        background-color: $giwiki-white;
        font-weight: 600;
      }

      #character-info-isotope {
        display: none;
        width: 40%;
        position: absolute;
        right: 0;
        top: 750px;
        transform: translateY(-100%);
        height: 500px;
        background-color: white;
        border-radius: 15px;

        .character-info-grid {
          position:relative;
          //grid-template-columns: 40% 60%;
          height: 100%;


          #character-info-image {
            position: relative;
            height: 100%;
            #cImage {
              padding-top: 20px;
              object-position: top;
              object-fit: cover;
            }

            #img-loading  {
              display: none;
              img {
                position:absolute;
                width: 100%;
                height: 100%;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
              }

            }
          }
        }
      }
      .uidCharacters-container {
        min-height: 500px;
        .uidCharacters {
          margin-top: 50px;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          flex-direction: column;

          .user-character {
            background-color: $giwiki-white;
            border-radius: 20px;
            padding: 20px;
            margin-top: 15px;
            position: relative;
            display: grid;
            width: 100%;
            max-height: 500px;
            min-height: 150px;
            grid-template-columns: 60px 10% 10% 30% auto;
            //grid-template-rows: 120px;

            .character-image {
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 1;

              .character-icon {
                border-radius: 50px;
              }
            }

            .hovercard {
              display: none;
            }

            #characterCardJs {
              z-index: 3;
              width: 200px;
              height: 400px;
              display: none;
              background-color: white;
              border-radius: 20px;
              position: absolute;
              left: 100%;
              top: -100px;
            }

            .character-constellations {
              align-self: center;
              z-index: 1;
            }

            .character-level, .character-fetter {
              display: none;
            }

            .sets-effect {
              width: auto;
              align-self: center;
              z-index: 1;

              ul {
                list-style: none;
              }
            }

            .character-weapon {
              align-self: center;
              z-index: 1;

              img {
                width: 50px;
                height: 50px;
              }
            }

            .character-artifacts {
              align-self: center;
              z-index: 1;
              text-align: center;

              img {
                width: 50px;
                height: 50px;
              }
            }

            .character-name {
              z-index: 0;
              position: absolute;
              font-size: 100px;
              font-weight: bold;
              color: $giwiki-grey;
              left: 20px;
              bottom: -34px;
              text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 767px) {
  .user-profile {

    .logout {
      text-align: right;
      display: block;
    }

    .logout a {
      text-decoration: none;
      margin-right: 0;
      color: $giwiki-orange;
      font-weight: 600;
      border: 2px solid $giwiki-orange;
      padding: 5px 10px;
    }

    .section-user-builds {
      .title-header {
        h3 {
          font-size: 22px;
        }

        .blue-bar {
          height: 15px;
        }
      }
    }
  }

  .user-builds-overall {
    .build-container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: column;

      .builds-grid {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 40% 25% 35%;
        grid-template-rows: 70px;
        border-bottom: 0.2px solid $giwiki-light-blue;
        font-size: 14px;

        * {
          align-self: center;
        }

        div {
          width: auto;
        }
      }

      .builds-grid:last-of-type {
        border-bottom: none;
      }
    }
  }

}

@media screen and (min-width: 768px) {
  .user-profile {
    .section-user-builds {

      .title-header {

        h3 {
          font-size: 38px;
        }

        .blue-bar {
          height: 25px;
        }
      }
    }
  }
  .user-builds-overall {
    .builds-grid {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 70% 15% 15%;
      grid-template-rows: 100px;
      border-bottom: 0.2px solid $giwiki-light-blue;
      text-align: right;

      * {
        align-self: center;
      }

      div:first-of-type {
        text-align: left;
      }

      div {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .user-profile {

    .section-user-builds {
      #uidProfile {
        .uidCharacters {
          .user-character {
            .sets-effect {
              ul {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
  .user-profile {

    .section-user-builds {
      .title-header {
        h3 {
          font-size: 48px;
        }
      }
    }

  }
}

/******************************************[BUILD EDIT]*****************************************************/


.user-builds-edit {

  .button-prev {
    text-decoration: none;
    color: $giwiki-orange;

    .button-return {
      text-decoration: none;
      color: $giwiki-orange;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .new-form {
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    margin: 50px auto;

    h1 {
      margin: 0 auto;
    }

    form {
      margin: 0 auto 50px;
      font-family: 'Poppins', sans-serif;


      textarea {
        font-family: 'Montserrat', sans-serif;
        resize: vertical;
        overflow: auto;
        width: 100%;
        border-style: none;
        border-bottom: 4px solid $giwiki-light-blue;
        padding: 10px;
        font-size: 18px;
      }

      textarea:focus {
        outline: none;
        background-color: $giwiki-grey;
        color: $giwiki-orange;
        border-bottom: 4px solid $giwiki-orange;
      }

      input {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        margin: 20px 0;
        width: 100%;
        padding: 10px 10px;
        border-style: none;
        border-bottom: 4px solid $giwiki-light-blue;
      }

      input[type="text"] {
        font-size: 18px;
      }


      .tags-label {
        margin-top: 20px;
      }

      #form_tags {
        margin-top: 0;
      }

      #form_weapons {
        input[type=checkbox] {
          width: auto;
          margin: 20px;
        }

        label {
          position: relative;
          width: 450px;
        }
      }

      input[type=text]:focus {
        outline: none;
        background-color: $giwiki-grey;
        color: $giwiki-orange;
        border-bottom: 4px solid $giwiki-orange;
      }

      button {
        background-color: $giwiki-orange;
        border-radius: 10px;
        border: none;
        width: 100%;
        padding: 10px 15px;
        color: $giwiki-white;
        font-size: 18px;
      }


      ul {
        list-style-type: none;
        padding: 0;

        input[type="checkbox"] {
          display: none;
        }
      }

      li {
        display: inline-block;
      }

      //input[type="checkbox"][id^="cb"] {
      //  display: none;
      //}

      label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 10px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      label::before {
        background-color: white;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        border: 1px solid grey;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
      }

      label img {
        height: auto;
        width: 100px;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
      }

      :checked + label {
        border-color: #ddd;
      }

      :checked + label::before {
        content: "✓";
        background-color: grey;
        transform: scale(1);
      }

      :checked + label img {
        transform: scale(0.9);
        box-shadow: 0 0 5px #333;
        z-index: -1;
      }


    }
  }
}

@media screen and (max-width: 767px) {

  .user-builds-edit {
    margin-top: 20px;

    .button-prev {
      .button-return {
        font-size: 20px;
      }
    }

    .new-form {
      background-color: white;
      border-radius: 15px;
      padding: 15px;
      margin: 20px auto;
      width: 100%;

      .tags-label {
        font-size: 14px;
      }

      ul {
        label {
          margin: 0;
        }
      }

      h1 {
        margin: 0 auto;
        max-width: 350px;
        font-size: 20px;
      }

      form {
        max-width: 350px;
        margin: 0 auto 50px;
        font-family: 'Poppins', sans-serif;


        h1 {
          max-width: 80vw;
        }

        input {
          font-size: 14px;
        }

        .register-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .user-builds-edit {
    .new-form {
      padding: 50px 0;

      h1 {
        max-width: 350px;
      }

      form {
        max-width: 350px;

        input {
          max-width: 350px;
        }
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .user-builds-edit {
    .new-form {
      h1 {
        min-width: 500px;
      }

      form {
        max-width: 500px;

        input {
          max-width: 500px;
        }
      }
    }
  }
}

@media screen and (min-width: 1199px) {
  .user-builds-edit {
    .new-form {
      padding: 50px;
    }

  }
}

